button.delete-btn {
  background-color: transparent;
  border: none;
  color: red;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
  font-size: 16px;
}

button.delete-btn:hover {
  color: darkred;
}
